<div class="container-xl">
    <div class="image-section">
        {% if section.settings.image %}
            {{ section.settings.image | img_url: 'master' | img_tag }}
        {% else %}
            {{ 'main-coffee-image.png' | asset_url | img_tag }}
        {% endif %}
        {% comment %} {{ 'image-section-mobile-bg.png' | asset_url | img_tag }} {% endcomment %}
    </div>
</div>

{% schema %}
    {
        "name": "Image section",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            }
        ],
        "presets": [
            {
                "name": "Image section"
            }
        ]
    }
{% endschema %}